h5{
    font-family: "DINNextW01-CondensedMed";
    font-size: 25px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

h6{
    color: #999;
    font: normal 11px/15px "DINNextW01-CondensedMed";
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: left;
}

strong{
    font-family: "DIN Next W01 Regular";
    font-weight: bold;
    color: #fff;
}

a{
    text-decoration: none;
}

.background-details li{
    color: #d4d4d4;
    line-height: 1.5;
    font-size: 13px;
    font-weight: bold;
}

.background-details li a:hover{
    color: #e62429;
    border-bottom: solid 1px #e62429;
}

.background-details li a{
    color:#d4d4d4;
    font-weight: 300;
}

.background-nav-desk,
.menu-desk-background{
    position: relative;
    top: 0;
}

.detail-top-bar-wrap{
    background: #444;
    height: auto;
}

.detail-top-bar{
    background-color: #151515;
    color: #fff;
    text-transform: uppercase;
    height: 45px;
    border-width: 0;
}

.detail-top-bar-lft{
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    vertical-align: top;
    position: relative;
    z-index: 2;
    float: left;
    padding: 0 8px 0 5px;
    margin-top: 1px;
}

.icon-backto{
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    padding: 0;
    margin: 0;
    font-size: 17px;
    margin-top: -2px;
}

.icon-backto::before {
    content: '';
    display: block;
    width: 12px;
    height: 24px;
    background-image: url(https://i.annihil.us/u/prod/marvel/images/sprites/Arrow_Left_2x.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.detail-top-bar-rgt{
    line-height: 42px;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    text-transform: uppercase;
    vertical-align: top;
    float: right;
    padding-top: 6px;
}

.detail-top-bar-lft span{
    font-size: 12px;
    font-weight: bold;
}

.iconSocial{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}

.icon-svg-color{
    fill: #fff;
}

.fb-container{
    display: inline-block;
}

.background-comic{
    background: #000;
    color: #fff;
}

.grid-flex-comic{
    display: flex;
    flex-wrap: wrap;
}

.item-text{
    flex: 6;
}

.item-text{
    font-family: "DINNextW01-CondensedMed";
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.item-text ul{
    margin-top: 25px;
}

.item-text li{
    margin-top: 25px;
}

.item-text a{
    text-decoration: none;
    color: #fff;
}

.item-text strong{
    font-weight: bold;
}

.item-comic{
    flex: 4;
    padding: 0 30px 30px 0;
}

.deadpool-img-border{
    border: 1px solid #353535;
}

.background-comic h3{
    font-size: 30px;
    display: inline-block;
    margin: 30px 0 30px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.background-details{
    font-family: "DIN Next W01 Regular";
    background-color: #202020;
    padding: 20px 0;
}

.background-details h5{
    margin: 30px 0;
    text-align: center;
}

.subtitle-style{
    display: inline-block;
}

.subtitle-style::before{
    left: 34px !important;
}

.see-all-deadpool{
    float: right;
    text-transform: uppercase !important;
    text-decoration: none;
    font-size: 12px !important;
    font-family: "DIN Next W01 Regular";
    font-weight: bold;
    color: #151515;
    margin-top: 37px;
}

.card-body-characters{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 2px;
    margin-top: 23px;
}

.card-body-characters-series{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 23px;
}

.img-wrapper-deadpool img{
    -o-object-position: top center;
    object-position: top center;
    display: block;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    padding: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 26px 10px -19px rgba(0,0,0,0.4) !important;
}

.img-wrapper-deadpool-series img{
    -o-object-position: top center;
    object-position: top center;
    display: block;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    padding: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 26px 14px -18px rgba(0,0,0,0.4) !important;
}

.card-headline h5{
    color: #eb2328 !important;
    letter-spacing: 1px;
    font-size: 12px;
}

.card-headline strong{
    font-family: "DIN Next W01 Regular";
    font-weight: bold;
    color: #151515;
    font-size: 15px;
    text-transform: capitalize;
}

.card-headline p{
    color: #151515;
    text-transform: capitalize;
    font-size: 11px;
}

.is-sliding-caracters{
    background: #fff;
    padding: 0;
    height: 98px;
    margin-top: 12px;
}

@media(max-width:838px){
    .item-bg-image{
        display: none;
    }
}

@media (min-width: 600px){
    .grid-flex-comic{
        padding-top: 40px;
    }

    .details-flex{
        display: flex;
        justify-content: space-around;
    }

}

@media(min-width:838px){
    .item-bg-image{
        max-width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }

    .item-bg-image img{
        width: 100% !important;
        margin-right: -5%;
        margin-top: 152px;
        filter: blur(1rem);
        height: 1700px;
        background-color: transparent !important;
        -webkit-mask-box-image: none !important;
        opacity: .18;
        height: 1700px;
    }

    .background-details{
        position: relative;
    }

    .background-more-deadpool{
        background: #fff;
        position: relative;
    }

    .card-body-characters {
        width: 100%;
        grid-gap: 30px;
    }

    .card-body-characters figure,
    .card-body-characters-series figure{
        position: relative;
        top: 0px;
        
    }

    .card-body-characters figure:hover,
    .card-body-characters-series figure:hover{
        top:-5px;
        transition: all 0.2s ease-in-out
    }

    .see-all-deadpool:hover,
    .card-headline strong:hover,
    .card-headline p:hover{
        color: #e62429;
    }

    .card-body-characters-series {
        width: 47%;
        grid-gap: 56px;
    }

    .detail-top-bar-lft:hover{
        background: #202020;
    }

}