*{
    box-sizing: border-box;
    font-size: 10px;
}

p{
    font: 500 0.8rem/1 "DINNextW01-Regular",Trebuchet MS,Helvetica,Arial,sans-serif;
    color: #f2f2f2;
    line-height: 1.5rem;
}

.background-nav{
    background-color: #22262a;
    height: 3.25rem;
    max-width: 100%;
}

.color-svg-arrow{
    stroke: #e62429;
    fill: #151515;
    stroke-width: 2px;
}

.color-svg-menu{
    fill: #fff;
}

.color-svg-search {
    stroke: #fff;
    fill: #22262a;
}

.color-svg-close{
    stroke: #fff;
    fill: #151515;
    margin-left: 30px;
    margin-top: 28px;
    margin-bottom: 10px;
}

.user-points{
    display: block !important;
    line-height: 30px !important;
    color: #e8b63e !important;
}

.nav-margin{
    padding: 0px !important;
    margin: 0 30px;
}

.nav-title{
    color: #e8b63e;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}
.nav-title h2{
    padding-left: 30px;
    padding-bottom: 30px;
}

.mobile-nav li a{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 15px 30px;
    color: #fff;
    cursor: default;
    text-decoration: none;
}

#nav-slide{
    position: fixed;
    left: -2000px;
    top: 0px;
    width: 100%;
    height: 100% !important;
    background-color: #151515;
    z-index: 99999;
    -webkit-transition: left .5s ease,max-height .5s ease .5s;
    transition: left .5s ease,max-height .5s ease .5s;
}

.nav-flex-mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

.slides{
    display: none;
}

.slide-01{
    background-image: url("../img/spidey_0318-mas_mob_01.jpg");
    width: 100%;
    height: 29em;
    transform: scaleX(1);
    transition: all .2s linear;
    background-position: center;
    background-size: cover;
}

.slide-02{
    background-image: url("../img/captainmarvel.jpg");
    width: 100%;
    height: 29em;
    transform: scaleX(1);
    transition: all .2s linear;
    background-position: center;
    background-size: cover;
}

.slide-03{
    background-image: url("../img/endgame_0314-mas_mob_02.jpg");
    width: 100%;
    height: 29em;
    transform: scaleX(1);
    transition: all .2s linear;
    background-position: center;
    background-size: cover;
}

.slide-04{
    background-image:url("../img/endgame_0314-mas_mob_01.jpg");
    width: 100%;
    height: 29em;
    transform: scaleX(1);
    transition: all .2s linear;
    background-position: center;
    background-size: cover;
}

.slide-05{
    background-image:url("../img/becoming_0318-mas_mob_01.jpg");
    width: 100%;
    height: 29em;
    transform: scaleX(1);
    transition: all .2s linear;
    background-position: center;
    background-size: cover;
}

.slice {
    height: 0.3em;
    width: 1.5em;
    margin: 0 0.2em;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 0.7em;
    z-index: 999;
  }

.slice-align{
    text-align: center;
}

.active-slice {
    background-color: #e62429;
    z-index: 999;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

.background-slide{
    background-color: #151515;
    height: 27.3rem;
    position: relative;
    bottom: 1.3rem;
}

.background-slide button{
    margin-top: 12px;
}

.background-ticket{
    background-color: #151515;
    height: 35rem;
    transform: skew(0deg, -10deg);
    margin-bottom: 47px;
}

.content-ticket{
    transform: skew(0deg, 10deg);
    padding-top: 80px;
}

.background-ticket img{
    margin-top: 50px;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100% !important;
    height: auto !important;
  }

.logo-avengers{
    padding-top: 3rem;
}

.subtitle{
    font: 500 1.5rem/1 DINNextW01-CondensedMed,Trebuchet MS,Helvetica,Arial,sans-serif;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-bottom: .7rem;
}

.btn,
.btn-red {
    text-transform: uppercase;
    color: #fff;
    background: #e62429;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: 0;
    font-size: 0.7rem;
    padding: 12px 25px;
    transform: skew(-21deg);
    }

.btn-ticket{
    background-color: #151515;
    border: 1px solid #f2f2f2 ;
    display: block;
}

.btn-flex{
    display: flex;
    justify-content: center;
}

.btn-latest{
    background-color: #fff;
    border: 1px solid #151515;
    color: #151515;
    margin-top: 15px;
    margin-bottom: 15px;
}

.background-ticket button{
    margin: 6px 0;
}

.background-ticket p{
    margin-bottom: 30px;
}

.img-ticket{
    background-image:url("../img/hero_captain_marvel.jpg");
    width: 100%;
    height: 280px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    top: 36px;
    z-index: 99;
    position: relative;
}

.card-body{
    margin: 30px auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.card-body a{
    text-decoration: none;
}
.card-margin,
.card-margin-characters{
    margin-left: 30px;
}

.scroll { 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:normal;
} 

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card-body h5{
    color: #e62429;
    font-size: 0.8rem;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "DINNextW01-CondensedMedium",Trebuchet MS,Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.card-body p{
    color: #151515;
    font-size: 0.8rem;
    font-family: "DINNextW01-Regular",Trebuchet MS,Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-movies-01{
    background-image:url("../img/_cmost_card.jpg");
    height: 72px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    }

.card-movies-02{
    background-image:url("../img/_iwd_card.jpg");
    height: 72px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    }

.card-movies-03{
    background-image:url("../img/_brie_card_0.jpg");
    height: 72px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    }

.card-movies-04{
    background-image:url("../img/_goose_card_4.jpg");
    height: 72px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    }

.card-comics-01{
    background-image:url("../img/porkSpider-card.jpg");
    height: 72px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.card-comics-02{
    background-image:url("../img/1_18.png");
    height: 72px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.card-comics-03{
    background-image:url("../img/poster-top10-01.jpg");
    height: 72px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.card-comics-04{
    background-image:url("../img/poster-top10-02.jpg");
    height: 72px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.divider-container{
    content: "";
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: #e5e5e5;
    z-index: 1;
}

.divider{
    position: relative;
    background-color: #e62429;
    z-index: 2;
    cursor: pointer;
    height: 24px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-clip: padding-box;
    max-width: 25%;
    bottom: 10px;
}

.img-celebrate{
    width: 100%;
    height: 280px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    top: 13px;
    z-index: 99;
    position: relative;
    background-image: url(../img/marvel_80_years.jpg);
}

.background-celebrate{
    background-color: #151515;
    height: 16rem;
    transform: skew(0deg, -10deg);
    position: relative;
    top: -40px;
}

.content-celebrate{
    transform: skew(0deg, 10deg);
    padding-top: 80px;
}

.content-celebrate h3{
    margin-top: 20px;
    margin-bottom: 5px;
}

.subtitle-style{
    font: 800 1.2rem/1 DINNextW01-CondensedMed,Trebuchet MS,Helvetica,Arial,sans-serif;
    color: #151515;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-bottom: 1.7rem;
    margin-top:34px;
    position: relative;
}

.subtitle-style::before{
    background-color:#c6a972;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    -webkit-transform: rotate(-45deg) skewX(45deg);
    transform: rotate(-45deg) skewX(45deg);
    width: 20px;
    top: -13px;
    left: 42px;
}

.subtitle-style::after{
    background-color:#c6a972;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    -webkit-transform: rotate(-45deg) skewX(45deg);
    transform: rotate(-45deg) skewX(45deg);
    width: 20px;
    top: 29px;
    left: 1px;
}

.card-body-characters{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 6px;
}

.card-thumb-caracters{
    background: #e62429;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.card-thumb-caracters figure img{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    overflow: hidden;
    -o-object-position: top center;
    object-position: top center;

    display: block;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    padding: 0;
    width: 135px;
    height: 100%;
}

.img-wrapper{
    position: relative;
    overflow: hidden;
    height: 170px;
}

.img-wrapper::after{
    height: 4px;
    content: "";
    background-color: #e62429;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.is-sliding-caracters{
    background: #151515;
    color: #37474f;
    -webkit-transition: color .3s;
    transition: color .3s;
    height: 145px;
    padding: 16px 24px 17px 16px;
    position: relative;
    vertical-align: middle;
    z-index: 30;
    width: 135px;
}

.is-sliding-caracters::after{
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
    border-style: solid;
    border-top-color: transparent;
    border-width: 12px 12px 0 0;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: auto;
    z-index: 40;
}

    /*.is-sliding-caracters::before{
    background: #e62429;
    bottom: 100%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    -webkit-transition-timing-function: cubic-bezier(.75,0,.125,1);
    transition-timing-function: cubic-bezier(.75,0,.125,1);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    width: 100%;
    z-index: -1;
    }*/

.card-headline{
    color: #fff;
    font-family: DINNextW01-CondensedMed,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: left;
}

.card-body-characters a{
    text-decoration: none;
}
.divider-characters .divider-container{
    bottom: -17px;
}

.the-latest-grid{
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns:(1fr); 
    grid-template-rows: auto;
    grid-gap: 20px;
    text-align: center;
}

.the-latest-grid a{
    text-decoration: none;
}

.the-latest-grid span{
    font-family: DINNextW01-CondensedMed,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    text-align: center;
}

.the-latest-grid p{
    color: #151515;
    font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin: 8px 0 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.the-latest-img01{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-image: url(../img/0315_recap-1560x876.jpg);
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: -1px;
}

.the-latest-img02{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-image: url(../img/twim_224_still.jpg);
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: -1px;
}

.margin-the-latest{
    margin-top: 55px;
}

.the-latest-separator{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom:26px;
    margin-bottom:40px;
    text-align:left;
}

.footer-separator{
    border-bottom: 1px solid #282828;
    padding-bottom:26px;
    margin-bottom:40px;
    text-align:left;
}

footer{
    background-color: #151515;
}

.logo{
    width: 35px;
    padding-top: 40px;
    margin: 0 auto;
}

.lista-flex{
    display: flex;
}

.lista-flex a{
    color: #fff;
    text-decoration: none;
}

.lista-flex li{
    margin: 30px 0;
}

.lista-marvel{
    flex:2 1 150px;
    font-weight: bold;
}

.lista-advertising{
    flex:2 1 150px;
}

.lista-marvel,
.lista-advertising,
.fallow-marvel{
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
}

.fallow-marvel{
    padding-bottom: 30px;
}

.color-svg-social{
    fill: #999;
}

.mobile-social{
    display: flex;
    justify-content: space-between;
}

.social-media{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.terms-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.terms-flex li{
    margin: 4px;
}

.terms-flex a{
    color: #999;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

@media (max-width:838px){
    .background-nav-desk{
        display: none;
    }
    .menu-desk-background{
        display: none;
    }
}

@media (min-width:420px){
    .background-ticket{
        position: relative;
        top: -24px;
    }
}

@media (min-width: 600px){
    .slideshow-container {
      height: 400px;
    }
    .slide-01,
    .slide-02,
    .slide-03,
    .slide-04,
    .slide-05{
        height: 400px;
    }
    .img-ticket,
    .img-celebrate{
        height: 440px;
    }

    .background-ticket{
        position: relative;
        top: -38px;
    }
    .img-celebrate h3{
        margin-top: 30px;
    }
    .background-celebrate{
        top: -60px;
    }
    .logo{
        width: 80px;
        margin: 0;
        margin-top: 10px;
    }
    .footer-flex{
        display: flex;
        justify-content: space-around;
    }
    .lista-marvel{
        margin-top: 20px;
    }
    .lista-advertising{
        margin-top: 20px;
    }

    @media (min-width:838px){
        .slideshow-container {
            height: 550px;
            margin-top: 92px;
        }

        .slide-01,
        .slide-02,
        .slide-03,
        .slide-04,
        .slide-05{
        height: 550px;
        transform: none;
        -webkit-transform: none;
        transition: all .2s linear;
        background-position: right;
        background-size: none;
        }

        .background-nav{
            display: none;
        }

        .background-nav-desk{
            background-color: #22262a;
            height: 3.27rem;
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: fixed;
            top: 0;
            z-index: 99999;
        }

        .menu-desk-background{
            background-color: #22262a;
            height: 2.5rem;
            width: 100%;
            position: fixed;
            z-index: 99999;
            top: 52px;
        }

        .desktopNav__upper {
            height: 52px;
            border-bottom: 1px solid #393939;
            padding: 0 80px;
        }
    
        .nav-flex-desk{
            display: flex;
            justify-content: space-between;
        }

        .logo-In{
            flex-grow: 0;
            flex-basis: 200px;
            align-self: stretch;
            font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            text-align: center;
            position: relative;
            padding-top: 10px;
            border-left: 1px solid #393939;
            border-right: 1px solid #393939;
            height: 51px;
        }

        .logo-In svg{
            position: relative;
            top: 5px;
            right: 2px;
        }

        .logo-marvel{
            flex-grow: 0;
            flex-basis: 50px;
            position: relative;
            right: 62px;
        }

        .logo-search{
            flex-grow: 0;
            flex-basis: 50px;
            align-self: stretch;
            text-align: center;
            padding-top: 18px;
            border-left: 1px solid #393939;
            border-right: 1px solid #393939;
            height: 51px;
        }

        .logo-search:hover{
            background-color: #151515;
            height: 51px;
        }

        .logo-In:hover{
            background-color: #151515;
            height: 51px;
        }

        .lista-desk ul{
            display: flex;
            justify-content: center;
        }

        .lista-desk a{
            font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0px;
            line-height: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
        }

        .lista-desk li{
            margin: 0 10px;
            padding-top: 10px;
            height: 40px;
        }

        .lista-desk li:hover{
            border-bottom: #e62429 solid 2px;
        }
        
        .background-slide{
            background-color: transparent;
            bottom: 23.3rem;
            height: 0rem;
        }

        .subtitle{
            font: 700 2.5rem/1 DINNextW01-CondensedMed,Trebuchet MS,Helvetica,Arial,sans-serif;
            letter-spacing: 0.1rem;
            padding-bottom: .7rem;
        }

        p{
            font: 500 1.2rem/1 "DINNextW01-Regular",Trebuchet MS,Helvetica,Arial,sans-serif;
        }

        .btn-red:hover{
            background: #8f171b;
        }

        .btn-ticket{
            display: inline-block;
            margin-right: 10px !important;
        }

        .btn-ticket:hover{
            border: #393939 solid 1px;
        }

        .btn-latest:hover{
            border: #cacaca solid 1px;
        }
        

        .background-ticket,
        .background-celebrate{
            transform: skew(0deg, 0deg);
            top: 1px;
            z-index: 1;
            height: 561px;
        }

        .background-ticket img{
            margin-top: 0px;
        }

        .content-ticket,
        .content-celebrate{
            transform: skew(0deg, 0deg);
        }
        .img-ticket,
        .img-celebrate{
            width: 55%;
            height: 560px;
            float: right;
            position: relative;
            top: 2px;
            z-index: 2;
        }

        .img-ticket:before,
        .img-celebrate:before{
            border-bottom: 560px solid #151515;
            border-right: 160px solid transparent;
            content: "";
            height: 0;
            position: absolute;
            -webkit-transition: .5s ease;
            transition: .5s ease;
            width: 0;
            z-index: 1;
        }

        .celebrate-position{
            position: relative;
            top: -75px;
        }

        .card-body{
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
        }

        .card-body p{
            font-size: 14px;
            line-height: 22px;
        }

        .card-body p:hover{
            color: #e62429;
        }

        .the-latest-grid p:hover{
            color: #e62429;
        }

        .divider-container,
        .divider{
            display: none;
        }

        .card-movies-01,
        .card-movies-02,
        .card-movies-03,
        .card-movies-04,
        .card-comics-01,
        .card-comics-02,
        .card-comics-03,
        .card-comics-04{
            height: 150px !important;
        }

        .card-margin{
            margin: 0 auto;
            max-width: 1200px;
            background-color: #fff;
            padding-top: 8px;
            padding-left: 25px;
            padding-right: 25px;
            position: relative;
            top: -90px;
            z-index: 99
        }

        .card-margin-celebrate{
            margin: 0 auto;
            max-width: 1200px;
            background-color: #fff;
            padding-top: 8px;
            padding-left: 25px;
            padding-right: 25px;
            z-index: 99;
            position: relative;
            top: -115px;
        }

        .subtitle-style{
            font-size: 25px;
            font-weight: 700;
            padding-bottom: 1.7rem;
            margin-top:34px;
            position: relative;
        }

        .subtitle-style::before{
        }

        .subtitle-style::after{

        }

        .card-margin-characters{
            max-width: 1200px;
            margin: 0 auto;
        }

        .card-body-characters{
            width: 100%;
            grid-template-columns: repeat(20, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px;
        }

        .is-sliding-caracters{
            width: 180px;
        }

        .card-thumb-caracters figure img{
            width: 180px;
        }

        .scroll{
            overflow-x:hidden;
        }

        .img-wrapper{
            transition: transform .2s;
            height: 228px;
        }

        .img-wrapper:hover{
            -ms-transform: scale(1.1); 
            -webkit-transform: scale(1.1); 
            transform: scale(1.1); 
        }
        .margin-the-latest{
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 180px;
        }

        .the-latest-img01,
        .the-latest-img02{
            height: 236px;
        }

    }
}